/* Eric meyers css reset revisited: http://meyerweb.com/eric/thoughts/2011/01/03/reset-revisited/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }ins { text-decoration: none; } del { text-decoration: line-through; }table { border-collapse: collapse; border-spacing: 0; }


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: yellow;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    min-width: 980px;
}
    .scroll-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

.section {
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

    .section.current,
    .section.previous {
        display: block;
    }

    .section .content {
        background: #ddd;
    }


.home {}
    .home .content {
        width: 980px;
        margin: 0 auto;
        height: 600px;
    }

.scores {}
    .scores .content {
        position: absolute;
        top: 120px;
        left: 5%;
        margin: 0;
        width: 90%;
    }